*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  background-image: url(images/Wood\ BG.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  padding: 0rem 7rem;
  padding-bottom: 2rem;
}
.section{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  z-index: 1;
  gap: 1rem;
}
.headerContainer{
  height: 8.9rem;
  background-color: white;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.headerTop{
  display: flex;
  justify-content: space-between;
  padding: 0rem 1rem;
  height: 70%;
  width: 100%;
  /* background-color: grey; */
}
.topLeftContainer{
  display: flex;
  justify-content: space-between;
  /* background-color: brown; */
  width: 50%;

}
.logoContainer{
  margin-top: 1rem;
  width: 38%;
  /* background-color: aqua;   */
}
.logoContainer img{
  height: 85%;
  width: 100%;
}

.headerImg2Container{
  /* background-color: red; */
  align-items: center;
  display: flex;
  
}
.topRightContainer{
  display: flex;
  width: 34%;
  /* background-color: aquamarine; */
}
.leafImageContainer{
  /* overflow: hidden; */
  display: flex;
  margin-left: 0rem;
  /* background-color: blue; */
  width: 30%;
}
.leafImageContainer img{
  width: 60%;
  height: 120%;
}
.headerRightContainer{
  display: flex;
  flex-direction: column;
  margin-top: 0.7rem;
  gap: 0.4rem;
  width: 70%;
  
}
.rightMidContainer{
  display: flex;
  color: rgb(88,49,34);
  text-decoration: underline;
  
  gap: 0.5rem;
  justify-content: center;
 
  
}
.rightMidContainer span{
  padding: 0rem 0.5rem 0rem 0;
  border-right: 2px solid rgb(72,39,25);
}
.searchContainer{
  display: flex;
}
.searchContainer input{
  width: 90%;
  font-weight: 600;
  color: black;
  padding: 0.2rem 0.2rem;
  border: 1px solid grey;
}
.searchContainer button{
  background-color: rgb(155,111,109);
  background-image: linear-gradient(180deg,rgb(183,141,142), rgb(105,66,61));
  color: white;
  padding: 0.2rem 0.2rem;
  border: none;
  border: 1px solid grey;
  border-left: 0px;
  font-weight: 600;
}
.headerBottom{
  display: flex;
  /* flex-direction: column; */
  width: 100%;
  /* background-color: rgb(155,111,109); */
  justify-content: space-between;
  height: 30%;
  align-items: center;
  
}
.headerBottom ul{
  display: flex;
  align-items: center;
  width: 50%;
  overflow: hidden;
  /* border-radius: 1rem; */
  /* background-color: rebeccapurple; */
}
.headerBottom span{
  display: none;
}
.headerBottom ul li{
  list-style: none;
  background-color:rgb(155,111,109) ;
  background-image: linear-gradient(180deg,rgb(183,141,142), rgb(105,66,61));
  border-top: none;
  /* padding: 0.9rem 2rem 0.6rem 2rem; */
  height: 2.6rem;
  width: 100%;
  white-space: nowrap;
  color: white;
  border-right: 0.5px solid white;
  /* overflow: hidden; */
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}
#home{
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 0rem;
  margin-left: 0.1rem;
  width: fit-content;
  padding: 0rem 2rem;
  font-weight: 600;
}
#about{
  padding: 0rem 0rem;
  width: 60%;
}
#sustain{
  padding: 0;
  width: 70%;
}
#contact{
  padding: 0;
  width: 70%;
}
.headerBottom h5{
  font-size: 1.5rem;
  color: white;
  background-color: rgb(155,111,109) ;
  background-image: linear-gradient(180deg,rgb(183,141,142), rgb(105,66,61));
  height: 2.6rem;
  padding-right: 1rem;
  white-space: nowrap;
  
  width: 49.9%;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 0.1rem;
  border-bottom-right-radius: 1rem;
  border-left: 0;
  border-top:0 ;
  
}
.bodyContainer{
 /* height: 100%; */
 background-color: white;
 border-radius: 1rem;
 display: flex;
 position: relative;
 flex-direction: column;
 gap: 1rem;
 
 
 
}
.wrapper{
  display: flex;
}
.leftBodyContainer{
  width: 25%;
  background-color: white;
  height: 100%;
  padding: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 1rem;
  
}
.productsContainer{
  width: 100%;
  height: 20rem;
  border: 0.1rem solid rgb(155,111,109);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  
  
}
.heading{
  width: 100%;
  color: white;
  background-color: rgb(155,111,109);
  height: 10%;
  padding-left: 1rem;
  font-family: serif;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  background-image: linear-gradient(180deg,rgb(183,141,142), rgb(105,66,61));
  
}
.items{
  height: 65%;
  background-color: rgb(242,242,242);
  display: flex;
  flex-direction: column;
  padding: 1rem 0.2rem 1rem 1.7rem;
  gap: 0.5rem;
}
.adobeImageContainer{
  height: 25%;
  width: 100%;
  display: inline-flex;
  gap: 0;
  background-color: rgb(242,242,242);
  
  
}
.adobeImageContainer img{
  height: 100%;
  width: 40%;
  z-index: 2;
  
  
  
  
}
.download{
  background-color: rgb(192,78,83);
  color: white;
  height: 70%;
  width: 100%;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  gap: 0.1rem;
  display: flex;
  flex-direction: column;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  margin-left: -2rem;
  z-index: 1;
  padding: 0.2rem 0rem 0.5rem 1.5rem;

 
  
 
}


.downloadP{
  font-size: 1.3rem;
  
}
.downloadP1{
  font-size: 0.8rem;

  
}
.bigCharacter{
  font-size: 2rem;
  font-family: serif;
  font-weight: 500;
  
}
.callContainer{
  height: 17rem;
  width: 100%;
  border: 0.1rem solid rgb(155,111,109);
  overflow: hidden;
  background-image: url("images/cute\ woman.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  
}
.need{
  width: 100%;
  background-color: whitesmoke;
  padding: 0.2rem 0rem 0.2rem 1rem;
  font-size: 1.4rem;
  opacity: 0.5;
}
.updatesContainer{
  height: 22rem;
  width: 100%;
  border: 0.1rem solid rgb(155,111,109);
 
  
  
}
.items2{
  height: 90%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.items2 p{
  text-align: center;
  width: 79%;
}
.items2 input[type=checkbox]{
  height: 1rem;
  width: 1rem;
  margin-left: 1rem;
  margin-bottom: 0.3rem;
}
.items2 input{
  width: 80%;
  padding: 0.15rem 0.2rem;
  font-weight: 500;
  margin-top: 0.3rem;
}
.items2 span{
  gap: 0.5rem;
  display: flex;
  align-items: center;
  /* background-color: blueviolet; */
}
.items2 button{
  width: fit-content;
  background-color: rgb(155,111,109);
  background-image: linear-gradient(180deg,rgb(183,141,142), rgb(105,66,61));
  color: white;
  border: none;
  text-align: center;
  text-transform: uppercase;
  padding: 0.5rem 0.5rem;
  font-weight: 600;
  margin-left: 20%;
}
.logosContainer{
  /* border: 2px solid red; */
  display: flex;
  gap: 2.1rem;
  margin-left: 1rem;
  margin-top: 0.5rem;
  /* background-color: antiquewhite; */
  width: 60%;
}

.rightBodyContainer{
  width: 75%;
  height: 100%;
}
.mainImageContainer{
  height: 28rem;
  position: relative;
  overflow: hidden;
  border-top-right-radius: 1rem;
  border: 1px solid white;
}
.mainImageContainer img{
  width: 100%;
  height: 100%;
}
.numberContainer{
  position: absolute;
  bottom: 0;
  left: 0;
  width: fit-content;
  display: flex;
  background-color: white;
  align-items: center;
  opacity: 0.6;
  gap: 1rem;
  padding: 0.3rem 0.7rem;
}
.textContainer{
  width: fit-content;
  height: fit-content;
  background-color: white;
  color: black;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  font-size: 2rem;
  padding: 0.6rem 0.1rem 0.6rem 0.3rem;
  opacity: 0.6;
  font-weight: 500;
  text-align: center;
}
.leftTextContainer{
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  padding: 1rem 0rem 0rem 1rem;
  width: 70%;
}
.leftTextContainer h5{
  font-size: 1.5rem;
  margin-left: 1.8rem;
  color: rgb(1, 107, 1);
  font-weight: 500;
}
.leftTextContainer span{
  display: flex;
  gap: 0.7rem;
  align-items: center;
  height: fit-content;
  width: fit-content;
 
}
.rightTextContainer{
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  width: 30%;
  padding-right: 1rem;
  height: fit-content;  
}
.latestNews{
  border: 0.1rem solid rgb(155,111,109);
  width: 100%;
  /* height: 70%; */
  height: fit-content;
  margin-top: 0.5rem;
  background-color: rgb(242,242,242);
  

}
.latestNews div{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0.5rem 0.5rem 0rem 0.5rem;
  text-align: center;
  /* background-color: red; */
  /* position: absolute; */
  margin-top: 1rem;
}
.latestNews h4{
  width: 100%;
  color: white;
  background-color: rgb(155,111,109);
  height: 18%;
  padding-left: 1rem;
  font-family: serif;
  font-size: 1.3rem;
  
}

.certifications{
  /* height: 60%; */
  height: fit-content;
  border: 0.1rem solid rgb(155,111,109);
  width: 100%;
  margin-top: 0.5rem;
  background-color: rgb(242,242,242);
}
.certifications h4{
  width: 100%;
  color: white;
  background-color: rgb(155,111,109);
  height: 19%;
  padding-left: 1rem;
  font-family: serif;
  font-size: 1.3rem;
  
}
.certifications div{
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 0.5rem;
  margin: 1rem 0 0 1rem;
}
.footer{
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem
}
.footerLogo{
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 0.05rem solid rgb(155,111,109);
}
.footerHeading{
  font-size: 1rem;
  color: rgb(155,111,109);
  margin-bottom: 1rem;
}
.products{
  border-right: 0.05rem solid rgb(155,111,109);
  padding: 0rem 1rem 1rem 0rem;
  min-width: 10rem;
  
}
.products p{
  margin-bottom: 0.2rem;
}
.copyRight{
  margin-top: 3rem;
  
}
.mainBodyContainer{
  display: flex;
  gap: 1rem;

}
@media screen and (min-width:1921px) {
  body{
    padding: 0rem 10%;
  }
  .headerTop{
    font-size: 1.2rem;
    padding-left: 2rem;
    
  }
  .headerBottom ul{
    font-size: 1.5rem;
  }
  
  .headerBottom h5{
    font-size: 1.7rem;
    white-space: nowrap;
  }
  .topRightContainer{
    
    width: 28%;
    
    
  }
  .topRightContainer input{
    width: 90%;
    font-size: 0.8rem;
    /* margin-bottom: 3rem; */
  }
  .leftBodyContainer{
    padding: 2rem 2rem;
  }
  .heading{
    font-size: 1.9rem;
    height: 25%;
  }
  .productsContainer{
    height: 10%;
  }
  .items{
    font-size:1.2rem;
  }
  .adobeImageContainer{
    height: 7rem;
    align-items: center;
    /* background-color: red; */
  }
  .download{
    margin-left: -3rem;
    /* margin-top: 7%; */
    height: 4rem;
    
    
  }
  .downloadP{
    font-size: 1.3rem;
    margin-left: 0.8rem;
  }
  .downloadP1{
    font-size: 1rem;
    margin-left: 0.6rem;
    /* white-space: nowrap; */
  }
  .callContainer{
    height: 25rem;
  }
  .need{
    font-size: 2rem;
    white-space: nowrap;
  }
  .bigCharacter{
    font-size: 2.5rem;
    font-weight: 600;
  }
  .updatesContainer{
    height: 100%;
    
  }
  .items{
    font-size: 1.3rem;
  }
  .items input{
    font-size: 1.3rem;
    padding: 0.3rem 0.5rem;
    margin-top: 0.6rem;
  }
  .items button{
    font-size: 1.3rem;
    margin-top: 0.6rem;
  }
  .logosContainer{
    /* background-color: red; */
    justify-content: center;
  }
  .mainImageContainer{
    height: 50%;
  }
  .textContainer{
    height: fit-content;
    width: fit-content;
  }
  .textContainer p{
    font-size: 3rem;
    height: fit-content;
    width: fit-content;
  }
  .numberContainer{
    font-size: 1.9rem;
    width: fit-content;
  }
  .leftTextContainer h5{
    font-size: 3rem;
  }
  .leftTextContainer span{
    font-size: 1.6rem;
    gap: 1rem;
    margin-top: 1rem;
  }
  .latestNews{
    /* background-color: red; */
    padding-bottom: 1rem;
  }
  .latestNews h4{
    font-size: 2.2rem;
  }
  .latestNews p{
    font-size: 1.7rem;
  }
  .certifications{
    padding-bottom: 1rem;
  }
  .certifications h4{
    font-size: 2.2rem;
  }
  .certifications p{
    font-size: 1.7rem;
  }
  .footerLogo img{
    width: 70%;
  }
  .footerHeading{
    font-size: 1.8rem;
  }
  .products{
    font-size: 1.5rem;
    width: 15%;
    padding-left: 2rem;
  }
  .items button{
    width: fit-content;
  }
  
}
@media screen and (min-width:1600px) and (max-width:1920px) {
  .numberContainer{
    width: fit-content;
  }
  .logosContainer{
    margin-left: 16%;
  }
  .latestNews{
    padding-bottom: 1rem;
  }
  .certifications{
    padding-bottom: 1rem;
  }
  ul li{
    font-size: 1.2rem;
    white-space: nowrap;
  }
  
}

@media screen and (max-width:1441px) {
  .textContainer{
    width: fit-content;
    height: fit-content;
  }
  .latestNews{
    padding-bottom: 2rem;
    height: fit-content;
    
    
  }
  #home{
    width: 45%;
    padding: 0;
  }
  #sustain{
    width: 75%;
  }
  .certifications{
    padding-bottom: 1rem;
    height: fit-content;
  }
  .headerBottom ul li:nth-child(3){
    padding: 0rem 0.2rem;
    white-space: nowrap;
  }
  .numberContainer{
    width: fit-content;
  }
}
@media screen and (max-width:1300px) {
  body{
    padding: 0rem 5rem;
  }
  .downloadP1{
    font-size: 0.6rem;
  }
  .numberContainer{
    width: fit-content;
  }
  .need{
    font-size: 1rem;
  }
  .bigCharacter{
    font-size: 1.5rem;
  }
  .products{
    padding-left: 1rem;
  }
  .textContainer p{
    font-size: 1.7rem;
  }
  
}
@media screen and (max-width:1025px) {
  body{
    padding-left: 1rem;
    padding-right: 0rem;
    
    height: 100%;
    width: 100vw;
  }
  .topLeftContainer{
    width: 55%;
  }
  .topRightContainer{
    width: 42%;
    
  }
  .headerBottom ul{
    width: 60%;
    font-size: 0.9rem;
    
  }
  #home{
    padding: 0rem;
  }
  #about{
    padding: 0rem 0rem; 
  }
  .downloadP{
    font-size: 1rem;
    
  }
  .downloadP1{
    font-size: 0.6rem;
  }
  .need{
    font-size: 1rem;
    white-space: nowrap;
  }
  .bigCharacter{
    font-size: 1.5rem;
  }
  .items2 p{
    width: 90%;
  }
  .items button{
    width: 40%;
  }
  .textContainer{
    height: fit-content;
    width: fit-content;
  }
  .textContainer p{
    font-size: 1.77rem;
  }
  .numberContainer{
    width: fit-content;
  }
  
  .footerLogo{
    width: 40%;
    
  }
  .footerLogo img{
    width: 83%;
    margin: 0 7rem;
    
  }
  .footerHeading{
    font-size: 0.8rem;
  }
  .products{
    border-right: 0.05rem solid rgb(155,111,109);
    padding: 0rem 0rem 1rem 1rem;
    min-width: 9rem;
    
    
  }
  .products p{
    margin-bottom: 0.2rem;
    font-size: 0.8rem;
  }
  .copyRight{
    margin-top: 2rem;
    /* background-color: antiquewhite; */
    padding-left: 0.6rem;
    overflow: hidden;
    
  }
  .copyRight p{
    
    font-size: 0.7rem;
    /* background-color: red; */
  }
  .updatesContainer{
    height: fit-content;
  }
  
}
@media screen and ( max-width: 821px) {
  body{
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    
    height: 100%;
    width: 100%;
  }
  .headerContainer{
    height: 8rem;
  }
  .headerTop{
    padding: 0rem 0.3rem;
    height: 68%;
  }
  .topLeftContainer{
    width: 55%;
    gap: 1.7rem;
  }
  .topRightContainer{
    width: 42%;
  }
  .headerRightContainer{
    display: flex;
    flex-direction: column;
    margin-top: 0.6rem;
    gap: 0.4rem;
    width: 70%;
    font-size: 0.85rem;
    
  }
  .headerBottom{
    height: 25%;
    margin-top: 0.2rem;
  }
  .headerBottom ul{
    width: 60%;
    
    font-size: 0.77rem;
  }
  .headerBottom h5{
    font-size: 1.3rem;
    white-space: nowrap;
  }
  .leftBodyContainer{
    padding: 0.6rem 0.3rem 0.8rem 0.3rem;
    width: 28%;
  }
  #home{
    padding: 0rem;
  }
  #about{
    padding: 0rem 0rem; 
  }
  
  .downloadP{
    font-size: 0.8rem;
    
  }
  .downloadP1{
    font-size: 0.6rem;
  }
  .need{
    font-size: 1rem;
  }
  .bigCharacter{
    font-size: 1.5rem;
  }
  .items p{
    font-size: 0.87rem;
  }
  .items span{
    font-size: 0.85rem;
  }
  .items2 p{
    width: 90%;
  }
  .logosContainer{
    gap: 0.5rem;
    width: 80%;
  }
  .textContainer{
    right: 0.5rem;
    bottom: 0.5rem;
    height: fit-content;
    width: fit-content;
  }
  .textContainer p{
    font-size: 1.3rem;
  }
  .leftTextContainer h5{
    font-size: 1.1rem;
  }
  .leftTextContainer span>img{
    height: 60%;
    /* background-color: red; */
  
  }
  .leftTextContainer span{
    font-size: 0.8rem;
  }
  .numberContainer{
    width: fit-content;
  }
  .mainImageContainer{
    height: 24rem;
    /* background-color: aquamarine; */
  }
  .latestNews div{
    font-size: 0.8rem;
    
  }
  .latestNews h4{
    font-size: 1rem;
    height: 15%;
  }
  .certifications h4{
    height: 19%;
    font-size: 0.9rem;
    
  }
  .certifications p{
    font-size: 0.8rem;
  }
  .rightTextContainer{
    padding-right: 0.5rem;
    height: fit-content;
  }
  
  .footerLogo{
    width: 27%;
    
  }
  .footerLogo img{
    width: 83%;
    margin: 0 7rem;
    
  }
  .footerHeading{
    font-size: 0.6rem;
  }
  
  .products{
    border-right: 0.05rem solid rgb(155,111,109);
    /* background-color: red; */
    min-width: 10%;
    padding: 0.5rem 0.5rem;
    margin: 0;
    
  }
  .products p{
    margin-bottom: 0.2rem;
    font-size: 0.6rem;
  }
  .copyRight{
    margin-top: 2rem;
    /* background-color: antiquewhite; */
    padding-left: 0.6rem;
    overflow: hidden;
    /* display: none; */
    
  }
  .copyRight p{
    
    font-size: 0.7rem;
    /* background-color: red; */
  }
  
  
 
  
}
@media screen and (max-width:689px) {
  .headerBottom ul{
    font-size: 0.6rem;
  }
  .headerBottom h5{
    font-size: 1rem;
    white-space: nowrap;
  }
  
  
  .headerImg2Container{
    width: 100%;
    /* background-color: red; */
    
    /* background-color: red; */
  }
  .headerRightContainer {
    
    margin-top: 0.9rem;
    font-size: 0.7rem;
  }
  .headerImg2Container img{
    width: 100%;
    /* height: 0%; */
  }
  .download{
    height: 60%;
    margin-top: 1rem;
    padding-left: 1.6rem;
  }
  .need{
    font-size: 0.8rem;
  }
  .topLeftContainer {
    display: flex;
    /* background-color: rebeccapurple; */
    width: 100%;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}
  .heading{
    font-size: 1rem;
    padding-left: 0.5rem;
  }
  .bigCharacter{
    font-size: 1.3rem;
  }
  .certifications h4{
    padding-left: 0.5rem;
  }
  .latestNews h4{
    padding-left: 0.5rem;
  }
  .items2 button{
    width: 50%;
  }
  .textContainer p {
    font-size: 1.1rem;
}


  
}

@media screen and (max-width:640px) {
  body{
    padding: 0rem 0.7rem 1rem 0.7rem;
  }
  .headerBottom span{
     display: flex;
     margin-left: 2rem;
     color: white;
  }
  .headerBottom ul{
    display: none;
  }
  
  .headerContainer{
    height: fit-content;
  }
  .headerTop{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    
  }
  .topLeftContainer{
    display: flex;
    /* background-color: rebeccapurple; */
    width: 100%;
    flex-direction: column;
    gap: 0.5rem;
  }
  .logoContainer{
    width: 50%;
    /* padding: 0rem 3rem; */
    /* margin-left: 15%; */
    
  }
  .headerImg2Container{
    width: 50%;
    padding: 0rem 3rem;
    margin-left: 7%;
  }
  .topRightContainer{
    display: flex;
    /* background-color: blue; */
    height:fit-content;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .searchContainer{
    margin: 0;
    padding: 0;
    width: 70%;
    /* background-color: red; */
    margin-left: auto;
    margin-right: auto;

   
  }
  .leafImageContainer{
    height: 5%;
    overflow: hidden;
    /* background-color: rebeccapurple; */
    padding: 2rem;
    display: none;
  }
  .headerRightContainer{
    /* background-color: aquamarine; */
    width: 100%;
    padding: 0rem 1rem;
  }
  .headerBottom{
    display: flex;
    /* flex-direction: column; */
    gap: 0.1rem;
    width: 100%;
    background-color: rgb(162, 105, 102);
    /* border-bottom: 1rem solid; */
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  
    /* background: linear-gradient(180deg, rgb(173, 105, 99) ,rgb(155,111,109) ); */
    background-image: linear-gradient(180deg,rgb(183,141,142), rgb(105,66,61));

   
  }
  #home{
    border-bottom-left-radius: 0;
  }
  .headerBottom ul{
    width: 100%;
    background-image: linear-gradient(180deg,rgb(183,141,142), rgb(105,66,61));

    
  }
  
  .headerBottom h5{
    width: 50%;
    display: flex;
    white-space: nowrap;
    justify-content: center;
    font-size: 1rem;
    background-image: linear-gradient(180deg,rgb(183,141,142), rgb(105,66,61));

    /* border-bottom: 1px solid white; */
    /* border-left: 0.1rem solid white; */
    

  }

  .bodyContainer{
    display: flex;
    gap: 0.5rem;
    
  }
  .wrapper{
    display: flex;
    flex-direction: column;
    
  }
  .leftBodyContainer{
    width: 100%;
    padding: 1rem;
    border-top-right-radius: 1rem;
  }
  .productsContainer{
    width: 100%;
    
  }
  .heading{
    background-image: linear-gradient(180deg,rgb(183,141,142), rgb(105,66,61));
  }
  .items button{
    width: 20%;
    margin: 0;
    /* margin-left: 5.5rem; */
  }
  .items span{
    /* background-color: antiquewhite; */
    /* margin-left: 4rem; */
  }
  .logosContainer{
    /* background-color: aqua; */
    justify-content: center;
    gap: 1rem;
    width: 50%;
    margin-left: 2rem;
    
 
  }
  .leftTextContainer h5{
    margin: 0;
    padding: 0;
  }
  .adobeImageContainer img{
    width: 23%;
    height: 100%;
  }
  .download{
    height: 60%;
    margin-top: 1rem;
    width: fit-content;
    padding-right: 1rem;
  }
  .downloadP{
    font-size: 1rem;
    
  }
  .downloadP1{
    font-size: 0.8rem;
  }
  .rightBodyContainer{
    padding: 0;
    margin: 0;
    /* background-color: red; */
    width: 100%;
  }
  .updatesContainer{
    height: 19rem;
  }
  
  .updatesContainer div{
    /* background-color: rgb(72, 70, 70); */
    z-index: 10;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    /* background-color: red; */
    
  }
  
  
  .items input{
    margin-left: 2rem;
    /* padding: 0; */
    /* background-color: red; */
  }
  
  .numberContainer{
   
    width: fit-content;
  }
  
  .mainImageContainer{
    background-color: aqua;
    width: 100%;
    height: 20rem;
  }
  .mainImageContainer img{
    width: 100%;
  }
  .textContainer p{
    font-size: 1.02rem;

  }
  .mainBodyContainer{
    /* background-color: red; */
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  .mainBodyContainer h5{
    text-align: center;
  }
  .mainBodyContainer span{
    /* background-color: red; */
    width: 100%;
    /* margin-left: 13%; */
    /* text-align: center; */

  }
  .rightTextContainer{
    width: 100%;
    padding: 0rem 1.5rem;
    height: fit-content;
  }
  .latestNews{
    width: 100%;
    height: fit-content;
  }
  
  .bigCharacter{
    font-size: 1.7rem;
    
  }
  .latestNews h4{
    font-size: 1.5rem;
    padding-left: 1rem;
    margin: 0;
    gap: 0;
    display: flex;
    background-color: rgb(155,111,109);
  }
  .latestNews h4 span{
    width: auto;
    /* background-color: red; */
  }
  #span{
    /* margin-left: 1rem; */
    width: 130%;
    
  }
  
  .certifications{
    width: 100%;
    height: fit-content;
  }
  .certifications h4 span{
    width: auto;
  }
  .certifications h4{
      font-size: 1.5rem
  }
  .footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* background-color: red; */
    /* justify-content: center; */
    /* align-items: center; */
    
  }
  .footerLogo{
    width: 50%;
    padding: 1rem 0.8rem;
    border-right: 0;
    /* margin-left: 15%; */
  }
  .footerHeading{
    font-size: 1.3rem;
  }
  .products{
    width: 100%;
    display: flex;
    flex-direction: column;
   
    /* background-color: red; */
    justify-content: center;
    /* border-bottom: 0.5px solid rgb(186, 181, 181); */
    padding: 1rem 1.7rem;
    /* background-color: antiquewhite; */
    border-right: 0;
    
  }
  .copyRight{
    margin: 0;
    width: 100%;
    /* text-align: center; */
  }
  .products p{
    font-size: 1rem;
  }
}
@media screen and (max-width:376px) {
  body{
    padding: 0rem 0.6rem 1rem 0.6rem;
  }
  
  .headerBottom ul{
        font-size: 0.6rem;
        background-image: linear-gradient(180deg,rgb(183,141,142), rgb(105,66,61));
  }
  .headerBottom{
    background-image: linear-gradient(180deg,rgb(183,141,142), rgb(105,66,61));
  }
  

 
  .logoContainer{
    width: 80%;
    padding: 0rem 2rem;
    /* margin-left: 10%; */
    
  }
  .headerImg2Container{
    width: 80%;
    padding: 0rem 2rem;
    
    margin-left: 5%;
  }
  .items button{
    width: 25%;
    /* margin-left: 4.2rem; */
    background-image: linear-gradient(180deg,rgb(183,141,142), rgb(105,66,61));
  }
  .headerBottom h5{
    width: 60%;
    display: flex;
    white-space: nowrap;
    justify-content: center;
    background-image: linear-gradient(180deg,rgb(183,141,142), rgb(105,66,61));
    
    

  }
  .leftTextContainer h5{
    margin-left: 1rem;
    width: 100%;
  }

  .textContainer p{
    font-size: 0.9rem;
  }
  .certifications h4{
    padding-left: 1rem;
    margin: 0;
  }
  .numberContainer{
    width: fit-content;
    font-size: 0.7rem;
  }
  
}

@media screen and (max-width:321px) {
  body{
    padding: 0rem 0.5rem 1rem 0.5rem;
  }
  .headerBottom ul{
    font-size: 0.55rem;
}
.logoContainer{
  width: 80%;
  padding: 0rem 1rem;
  /* margin-left: 10%; */
  
}
.headerImg2Container{
  width: 80%;
  padding: 0rem 1rem;
  
  margin-left: 1%;
}
.headerBottom{
  background-image: linear-gradient(180deg,rgb(183,141,142), rgb(105,66,61));
}
.headerBottom h5{
  width: 70%;
  white-space: nowrap;
  background-image: linear-gradient(180deg,rgb(183,141,142), rgb(105,66,61));
}
.heading{
  background-image: linear-gradient(180deg,rgb(183,141,142), rgb(105,66,61));
}
.items span{
  /* margin-left: 2rem; */
}
.items button{
  width: 27%;
}
.numberContainer{
  width: fit-content;
  font-size: 0.7rem;
}
.textContainer p{
  font-size: 0.85rem;
}
.headerImg2Container{
  width: 100%;
  padding: 0 1.5rem;
}
.footerLogo{
  width: 50%;
  padding: 1rem 0.9rem;
  border-right: 0;
  /* margin-left: 15%; */
}
  
}

